<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.koloheohana.mymap">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.koloheohana.mymap.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.koloheohana.mymap.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

<!--
    <uses-library android:name="com.google.android.maps"></uses-library>
-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--NiftyCloud-->
        <receiver
            android:name="com.nifty.cloud.mb.core.NCMBGcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.koloheohana.mymap"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".server.CustomGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!-- プッシュ通知タップ時に起動するActivityの設定 -->
        <meta-data android:name="openPushStartActivity" android:value=".MainActivity"/>

        <!-- 通知エリアに表示されるアイコンの設定 -->
        <meta-data android:name="smallIcon" android:resource="@drawable/ic_mr_button_connected_00_light"/>

        <!-- 通知エリアに表示されるアイコンカラーの設定 -->
        <meta-data android:name="smallIconColor" android:value="@color/wallet_hint_foreground_holo_light"/>

        <!-- 通知エリアにプッシュ通知を複数表示する設定　0:最新のみ表示 , 1:複数表示 -->
        <meta-data android:name="notificationOverlap" android:value="1"/>

        <!-- カスタムダイアログプッシュを利用する場合のみ背景画像の設定 -->
        <meta-data android:name="dialogPushBackgroundImage" android:resource="@drawable/ic_audiotrack_light"/>

        <!-- NiftyCloud end-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".SighupActivity">

        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".TestActivity"/>
        <activity android:name=".LoadingActivity"/>
        <activity android:name=".SettingSelectActivity"/>
        <activity android:name=".PickUpShopActivity"/>
        <activity android:name=".TrimActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".SearchActivity"/>


        <activity
            android:name=".sns.MainTork"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".map.MapActivity"
            android:label="@string/title_activity_maps">

        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">

        </activity>
        <activity
            android:name=".MapStreetView"
            android:label="@string/title_activity_maps">

        </activity>
    </application>

</manifest>